@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

*{
    box-sizing : border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
    overflow: hidden;
    margin: 0;
}
.bg{
    background:url('images/NOVITEC.jpg') no-repeat center center/cover;
    position: absolute;
    top:-30px;
    left:-30px;
    width:calc(100vw + 60px);
    height:calc(100vw + 60px);
    z-index: -1;
    filter:blur(0px);
}
.loading-text{
    font-size:50px;
    color:#fff;
}
